@using ContentModels = Structure.Model.DocumentTypes;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@{
    Layout = "Master.cshtml";
}


<div class="container">
    <div class="row mb-5">
        <div class="col">
            <h1>Hello, world!</h1>
        </div>
    </div>
</div>